/*ListView css*/

.wrapper {
	width: 75%;
	position: absolute;
	left: 25%;
	background-color: #F3F3F3;
}


.head h5{
	padding: 50px 0 25px 25px;
	font-size: 1.5rem;
	font-weight: bold;
}

/*reused wrapper and head in other views, since most of the pages look very similar */

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding-bottom: 20px;
}

.eachcard {
	flex-basis: 25%;
}

/* finally got this to display in rows of three by making eachcard a child, creating a parent for it, and then using flex-basis to size each card.*/

/* sidebar css */

nav {
	height:100%;
	width: 25%;
	font-family: 'Roboto Bold', sans-serif;
	font-size: 1rem;
	background-color: #D8D8D8;
	position: absolute;
	left: 0px;
}

.lambdanotes h3 {
	font-size: 2.1rem;
	line-height: 2rem;
	font-weight: bold;
	padding: 20px;
}

.buttonnav {
	margin-left: 20px;
}

button {
	background-color: #2eced1;
	color: white;
	font-weight: bold;
	text-align: center;
	border: .25px grey solid;
	padding: 5px 10px;
	width: 90%;
}

/* when in doubt, create more divs! */

/*CreateView css */
.createForm {
	padding: 0 30px;
}

#noteTitle {
	border: grey 1px solid;
	width: 66%;
	height: 2.4rem;
}

#noteContent {
	border: grey 1px solid;
	width: 95%;
	height: 400px;
}

.createButton {
	width: 25%;
}

/* NoteCard.css */

.notecard {
	color: black;
	border: grey 1px solid;
}

.cardTitle {
	color: black;
	font-weight: bold;
}

.cardText {
	color: black;
}

.truncate {
  	overflow: hidden;
  	position: relative;
  	line-height: 1.2em;
  	max-height: 7.2em;
  	text-align: justify;
  	margin-right: -1em;
  	padding-right: 1em;
	width: 250px;
	text-overflow: ellipsis;
}

.truncate:before {
	content: '...';
	position: absolute;
	right: 0;
	bottom: 0;
}

.truncate:after {
	content: '';
	position: absolute;
	right: 0;
	width: 1em;
	height: 1em;
	margin-top: 0.2em;
	background: white;
}

/* If only I were smart enough to come up with this truncate stuff all by myself. No, I'm afraid this was just google-fu: http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/ */

/* NoteView css */

.viewNote {
	padding: 0 30px;
}

.alignRight {
	text-align: right;
}

.toplinks {
	display:inline-block;
}

.editButton {
	background-color: #F3F3F3;
	border: none;
	color: black;
	text-decoration: underline;
	width: 75px;
}

.delButton {
	background-color: #F3F3F3;
	border: none;
	color: black;
	text-decoration: underline;
	width: 75px;
	margin-right: 20px;
}

/* EditView css - same as CreateView - used the same class names in my js and everything */

/* Delete Modal */

.modal-content {
	-webkit-border-radius: 0px !important;
 	-moz-border-radius: 0px !important;
  	border-radius: 0px !important;
}

/* agonized over this stupid border radius for about forever before realizing that I had named one of my classes modal-content, which was screwing everything up. Changed the name and started using camelcase instead of hyphens, which helped. */

.modalForm {
	text-align: center;
	height:75px;
	margin-top: 40px;
}

.alignCenter {
	text-align: center;
}

.modalButtons{
	display: inline-block;
}

.deleteModal {
	background-color: red;
	width: 200px;
	margin: 0 20px 40px 0;
}

.noModal {
	width: 200px;
}
